*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #016e65;
    color: #fff;
}

.container{
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.left.right{
    flex-basis: 50%;
    padding: 10px;
    
}
.left{
    width: 45%;
    position: absolute;
}
.right{
    float: right;
    width: 51%;
    height: 93vh;
}

textarea{
    width: 100%;
    height: 25vh;
    background-color: #05242291;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    
}

iframe{
    width: 100%;
    height: 95%;
    background-color: #fff;
    border: 0;
    outline: 0;
    border-radius: 0 0 0.2rem 0.2rem;
}

label{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    background-color: #011f1d;
    height: 30px;
    padding-left: 0.5rem;
    border-radius: 0.4rem 0.4rem 0 0;
}

.html-code{
    margin-bottom: 0.6rem;
}
.css-code{
    margin-bottom: 0.6rem;
}
